* {
    color: rgb(224, 224, 224);
}

body {
    background-color: rgb(57, 57, 57);
}

table {
    border-collapse: collapse;
    width: 98%;
    margin: auto;
    text-align: center;
    background-color: rgb(81, 81, 81);
}

th {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

td {
    width: 25%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border: none;
}

tbody tr:nth-child(odd) {
    background-color: rgb(98, 98, 98);
}

.ajax-loader {
    top: 45%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    animation: spinLoader 1s linear infinite;
    border-radius: 50%;
  }

  @keyframes spinLoader {
    0% {
      border-top: 10px solid rgb(233, 32, 32);
      transform: rotate(0deg);
    }
    50% {
      border-top: 10px solid rgb(139, 1, 1);
    }
    100% {
      transform: rotate(360deg);
      border-top: 10px solid rgb(233, 32, 32);
    }
  }